.card {
  /* background: linear-gradient(rgba(1,76,143,255), rgba(1,156,234,255)); */
  background: linear-gradient(rgba(1,76,143,255), rgba(0,235,248,255));
  margin: 2rem;
  height: 22rem;
  max-width: 15rem;
  border-radius: 1rem;
  /* border: 5px solid blue; */
  /* border: 2px solid #823b37; */
  box-shadow: 0 1.6px 1.6px rgba(0,0,0,.023),0 3.8px 3.8px rgba(0,0,0,.034),0 6.9px 6.9px rgba(0,0,0,.041),0 11.4px 11.4px rgba(0,0,0,.049),0 18.8px 18.8px rgba(0,0,0,.056),0 32.8px 32.8px rgba(0,0,0,.067),0 71px 71px rgba(0,0,0,.09);
  cursor: pointer;
  transition: all 0.5s ease;
  flex-basis: calc(20%);
}

/* .card:hover {
  height: 24rem;
  width: 17rem;
  background-color: black;
} */

.header {
  background: #202024;
  height: 2rem;  
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.headerDescription {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'VT323', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.headerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20px;
  height: 20px; */
  /* position: relative; */
}

.headerImg > img {
  width: 20px;
  height: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 56px;
  /* margin-top: 32px; */
}

.title {
  font-size: 2.5rem;
  font-family: 'VT323', sans-serif;
  font-weight: 400;
  margin-top: 32px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 102px;
}

.imgContainer > img {
  max-width: 100%;
  max-height: 100%;
}

.typeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 15px;
}

.type { 
  width: 30px;
  height: 30px;
  position: relative;
}

.type:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: -2.5em;
  right: -1em;
  background-color: #333;
  color: white;
  padding: .25em .5em;
  font-size: 0.8rem;
  /* font-family: 'VT323', sans-serif; */
  font-weight: 400;
}
 
.buffsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 1rem;
  position: relative;
  /* height: 15px; */
}

.buffs {
  width: 35px;
  height: 35px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 1rem; */
  margin-left: 1rem;
  position: relative;
}

.buffsContainer > img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.buffs:hover::after {
  position: absolute;
  content: attr(data-tooltip-buff);
  bottom: -2.5em;
  right: -1em;
  background-color: #333;
  color: white;
  padding: .25em .5em;
  font-size: 0.8rem;
  font-weight: 400;
}